.WorkExperience {
  width: 70%;
  /* max-width: 1200px; */
  margin: 50px auto;
  font-family: "bobbyJones", sans-serif;
  color: #fff;
}

.experienceContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.experienceCard {
  background: rgba(255, 255, 255, 0.05);
  /* border-left: 4px solid #1e90ff; */
  padding: 20px;
  border-radius: 12px;
  transition: transform 0.3s, background 0.3s;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.experienceCard:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.1);
}

.expHeader {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.expHeader img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 10px;
  background: #000;
  padding: 5px;
}

.expInfo h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.company,
.duration,
.location {
  margin: 2px 0;
  font-size: 0.9rem;
  color: #ccc;
}

.expPoints {
  margin: 15px 0;
  padding-left: 20px;
}

.expPoints li {
  margin-bottom: 8px;
  line-height: 1.5;
}

.expSkills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skillTag {
  background: #1e90ff;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 0.8rem;
  color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
  .expHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .expHeader img {
    width: 50px;
    height: 50px;
  }

  .expInfo h3 {
    font-size: 1rem;
  }
}
